:root { --brand-50: #f3fcf9;
    --brand-100: #dbf5ec;
    --brand-200: #abe7d3;
    --brand-300: #7cd9ba;
    --brand-500: #10b981;
    --brand-600: #0d9467;
    --brand-700: #0a7854;
    --brand-800: #096647; }